<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<!--<table>-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>Title</th>-->
      <!--<th>Body</th>-->
      <!--<th>Author</th>-->
      <!--<th>Publication date</th>-->
      <!--<th>Other</th>-->
      <!--<th colspan="3"></th>-->
    <!--</tr>-->
  <!--</thead>-->

  <!--<tbody>-->
    <!--<% @posts.each do |post| %>-->
      <!--<tr>-->
        <!--<td><%= post.title %></td>-->
        <!--<td><%= post.body %></td>-->
        <!--<td><%= post.author %></td>-->
        <!--<td><%= post.publication_date %></td>-->
        <!--<td><%= post.other %></td>-->
        <!--<td><%= link_to 'Show', post %></td>-->
        <!--<td><%= link_to 'Edit', edit_post_path(post) %></td>-->
        <!--<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<br>
<%= render :partial => @posts %>
<%= link_to 'New Post', new_post_path %>
