<p id="notice"><%= notice %></p>

<!--<p>-->
  <!--<strong>Title:</strong>-->
  <!--<%= @post.title %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Body:</strong>-->
  <!--<%= @post.body %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Author:</strong>-->
  <!--<%= @post.author %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Publication date:</strong>-->
  <!--<%= @post.publication_date %>-->
<!--</p>-->

<!--<p>-->
  <!--<strong>Other:</strong>-->
  <!--<%= @post.other %>-->
<!--</p>-->

<!--<h2><%= link_to_unless_current @post.title, @post %></h2>-->
<!--<%= simple_format @post.body %>-->
<%= render :partial => @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>
<%= form_for [@post, Comment.new], :remote => true do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
<% end %>